{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ASHTHA CHARITABLE TRUST</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static './css/login.css' %}">
    </head>
    <body>
        <form method="POST">
            <h1><center>Login</center> </h1>
            {% csrf_token  %}
            {{form.as_p}}
            <button> Login </button>
          </form>
        
        <script src="{% static './js/login.js' %}" async defer></script>
    </body>
</html>