{% load static %}
<!DOCTYPE html>
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ASHTHA CHARITABLE TRUST</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Superfish -->
	<link rel="stylesheet" href="{% static 'css/superfish.css' %}">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<script src="js/modernizr-2.6.2.min.js"></script>
	

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<div class="header-top">
			<div class="container">
		</div>
			</div>
		</div>
		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="/">ASHTHA CHARITY</a></h1>

					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="active">
								<a href="/">Home</a>
							</li>
							<li>
								<a href="#" class="fh5co-sub-ddown">Get Involved</a>
								<ul class="fh5co-sub-menu">
									<li><a href="/donate">Donate</a></li>
									<li><a href="/fundraise">Fundraise</a></li>
									<li><a href="/campaign">Campaign</a></li>
									<li><a href="/volunteer">Volunteer</a></li>
								</ul>
							</li>
						
							<li><a href="/about">About</a></li>
							<li><a href="/contact">Contact</a></li>
							<li><a href="/registerpage">Register</a></li>
							<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
							<li><a href="/adminLg">Admin<a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		

		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url({% static 'images/cover6.jpg' %});">
				<div class="desc animate-box">
					<h2><strong>Donate </strong> for those who are in <strong>need</strong></h2>
					<span>No one is left alone here,everyone is cared His Grace shines through ASHTHA </a></span>
					<span><a class="btn btn-primary btn-lg" href="/donate">Donate Now</a></span>
				</div>
			</div>

		</div>
		<!-- end:header-top -->
		
		<div id="fh5co-features">
			<div class="container">
				<div class="row">
					<div class="col-md-4">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-profile-male"></i>
							</span>
							<div class="feature-copy">
								<h3>Become a volunteer</h3>
								<p>Volunteer to make difference</p>
								
							</div>
						</div>

					</div>

					<div class="col-md-4">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-happy"></i>
							</span>
							<div class="feature-copy">
								<h3>Happy Giving</h3>
								<p>The happiest people are the ones who make others happy</p>
							</div>
						</div>

					</div>
					<div class="col-md-4">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-wallet"></i>
							</span>
							<div class="feature-copy">
								<h3>Donation</h3>
								<p>A part of kindness consists in loving </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-feature-product" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center heading-section">
						<h3>Space connecting Hearts...</h3>
						<p>Young or Old .. boy or girl. Love just flows, wouldn't we call this a paradise?</p>
						
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="feature-text">
							<h3>Love</h3>
							<p>Love is one of the most intense emotions that we experience as humans.You’re not in it for yourself.Though it may overlap with other types of love in some ways, other elements set it apart.You can recognize it by these key characteristics.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-text">
							<h3>Compassion</h3>
							<p>Compassion is sometimes the fatal capacity for feeling what it is like to live inside somebody else’s skin. It is the knowledge that there can never really be any peace and joy for me until there is peace and joy finally for you too.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-text">
							<h3>Charity</h3>
							<p>The practice of charity is the voluntary giving of help to those in need, as a humanitarian act, unmotivated by self-interest. There are a number of philosophies about charity, often associated with religion.</p>
					</div>
				</div>

				
			</div>
		</div>

		
		<div id="fh5co-portfolio">
			<div class="container">

				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
						<h3>Our Gallery</h3>
						<p>Here is a little glimpse of our TRUST </p>
					</div>

				
				<div class="row row-bottom-padded-md">
					<div class="col-md-12">
						<ul id="fh5co-portfolio-list">

							<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/cover9.jpg'%});">
								<a href="#" class="color-3">
									<div class="case-studies-summary">
										<span>Give Love</span>
										<h2>Donation is caring</h2>
									</div>
								</a>
							</li>
						
							<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/cover13.jpg'%}); ">
								<a href="#" class="color-4">
									<div class="case-studies-summary">
										<span>Be kind whenever Possible</span>
										<h2>It is always Possible</h2>
										
									</div>
								</a>
							</li>

							<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'images/cover11.jpeg'%}); "> 
								<a href="#" class="color-5">
									<div class="case-studies-summary">
										<span>Your small act of kindness</span>
										<h2>Can make a huge difference</h2>
										</div>
								</a>
							</li>
							<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url({%static 'images/cover10.jpeg'%}); ">
								<a href="#" class="color-6">
									<div class="case-studies-summary">
										<span>Happiness is</span>
										<h2>Making someone smile</h2>
										</div>
								</a>
							</li>
						</ul>		
					</div>
				</div>
			</div>
		</div>
		

		
		<div id="fh5co-content-section" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Our Philantrophist</h3>
						<p>Help others without any reason and give without the expectation of receiving anything in return</p>
						
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="{% static 'images/person1.jpg'%}" alt="user">
							</figure>
							<blockquote>
								<p>&ldquo; If we are asking for the world to be kind, we must first ask what are we doing to add more kindness to the world. If we are asking for the world to be more loving, we must first ask what are we doing to add more love to the world. We are the vessels for the things we seek &rdquo;</p>
							</blockquote>
							<span>Rahesh Kotian</span>

						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="{% static 'images/person3.jpg'%}" alt="user">
							</figure>
							<blockquote>
								<p>&ldquo; It's not for money, its not for fame. Its's not for any personal gain. It's just for love of fellowmen. It's just to send a helping hand .That's something you can't buy with wealth.It's that feeling that you've been a part. Volunteers do not necessarily have the time, they have the heart&rdquo;</p>
							</blockquote>
							<span>Rashmi R Kotian</span>
								
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="{% static 'images/person2.jpg'%}" alt="user">
							</figure>
							<blockquote>
								<p>&ldquo; For me, charity is about any act which can warm someone's heart by providing the required resources in the form of money, attention, food etc to help the most vulnerable. Humanity is about forgettting our selfish interests at times whenever or wherever others need our help and care the most&rdquo;</p>
							</blockquote>
							<span>Ravikala R Kotian</span>
							</div>
					</div>
				</div>
			</div>
		</div>
		
						

		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">	
							<p>Copyright 2016 <a href="#">Charity</a>. All Rights Reserved. <br>Share At Door Step <i class="icon-heart3"> </i><a> | Terms of Use | </a><a>  | Privacy Policy |</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/sticky.js' %}"></script>

	<!-- Stellar -->
	<script src="{% static 'js/jquery.stellar.min.js'%}"></script>
	<!-- Superfish -->
	<script src="{% static 'js/hoverIntent.js' %}"></script>
	<script src="{% static 'js/superfish.js'%}"></script>
	
	<!-- Main JS -->
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

